nav a{
    font-display: inline;
    text-decoration: none;
    text-align: center;
    float: right;
    color: black;
    padding: 1% 5%;
    font-size: 1em;
    display: inline;
}

nav a:hover{
    text-decoration: underline;
}